@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-image: url("../images/site/checkerboard.jpg");
}
@media (min-width: 1200px) {
  html {
    background-image: url("../images/site/small_check.jpg");
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  body {
    margin: 10px 10%;
    padding: 10px;
    border: 5px solid #02b0d4;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: #242332;
}

nav {
  background-color: #242332;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #111;
}

.hero-section {
  position: relative;
}
.hero-section img {
  width: 100%;
}
.hero-section .hero-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  height: 100%;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #02b0d4;
}
.hero-section .hero-box img {
  width: 80%;
}
.hero-section .hero-box ul {
  list-style: none;
  padding: 0;
}
.hero-section .hero-box h4 {
  margin: 0;
}

.car-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .car-details {
    flex-direction: row;
  }
}

.upgrades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.upgrades div {
  width: 38%;
  margin: 20px;
  background-color: #02b0d4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.upgrades div img {
  width: 33%;
  padding: 5px;
}
.upgrades div a {
  text-align: center;
  width: 100%;
  background-color: #fff;
}

.car-reviews li {
  padding: 10px 0;
}

#inv-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
#inv-display li {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin: 20px 0px;
  padding: 10px;
  width: 90%;
}
@media (min-width: 768px) {
  #inv-display li {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  #inv-display li {
    width: 30%;
  }
}
#inv-display a {
  color: #242332;
  text-decoration: none;
}
#inv-display a img {
  width: 100%;
}

#details-display {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  #details-display {
    flex-direction: row;
  }
}
#details-display img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 600px;
  max-height: 400px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
@media (min-width: 768px) {
  .details {
    flex-direction: row;
  }
}
.details h2 {
  margin: 20px 10px;
}
.details p {
  margin: 10px 10px;
}

.info {
  background-color: #f2f2f2;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

button,
.btn,
input[type=submit] {
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 5px;
  min-height: 44px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  width: 70%;
  text-decoration: none;
}

.btn-main {
  background-color: #02b0d4;
}

.btn-secondary {
  background-color: #242332;
}

button:hover,
button:focus,
input[type=submit] {
  opacity: 0.75;
}

input[type=text],
input[type=email],
input[type=password],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:required:invalid,
input[type=number]:required:invalid,
input[type=email]:required:invalid,
input[type=password]:required:invalid,
textarea:required:invalid,
select:required:invalid {
  border: 2px solid #fa3f3f;
}

input[type=text]:focus:required:invalid,
input[type=number]:focus:required:invalid,
input[type=email]:focus:required:invalid,
input[type=password]:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  background-color: #ffc8c8;
}

input[type=text]:focus:required:valid,
input[type=number]:focus:required:valid,
input[type=email]:focus:required:valid,
input[type=password]:focus:required:valid,
textarea:focus:required:valid,
select:focus:required:valid {
  background-color: #c8ffd1;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.form li {
  padding-top: 10px;
  list-style: none;
  font-size: larger;
}
.form div {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.form label {
  font-size: larger;
  font-weight: bold;
}
.form h3 {
  font-style: italic;
  font-size: large;
}
.form .flex-row {
  flex-direction: row;
}

.error {
  color: #fa3f3f;
}

form * {
  display: block;
}

#pswdBtn {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 2px;
  margin-top: 1em;
  font-size: small;
  width: 7em;
  text-align: center;
}

footer {
  color: #f2f2f2;
  background-color: #242332;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=styles.css.map */
